doctype html
html(class='no-js', lang='sv', itemscope='', itemtype='http://schema.org/WebSite')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    block title
      title Arbetsprov på HM för Jonas Fors Lellky - Claremont AB

    meta(name='description', content='Detta är ett arbetsprov av Jonas Fors Lellky för att visa folket på HM att jag duger som frontendutvecklare för hm.com')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1')

    meta(name='theme-color', content='#{hmColorBg}')

    meta(name='apple-mobile-web-app-title', content='Arbetsprov HM')

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')

    meta(itemprop='url', content='http://www.example.com/')

    link(rel='stylesheet', href='css/style.css')

  body

    .container
      block header
        <!--[if lt IE 8]>
        p.browserupgrade.
          Du använder en <strong>asgammal</strong> browser.
          <a href="http://browsehappy.com/">Uppgradera din browser</a> för att få den fulla upplevelsen av internet.
        <![endif]-->

      main

        block body

    footer.footer
      .container
        p.text-center
          a(href='//twitter.com/lellky', target='_blank') @lellky
          &nbsp; &#124; &nbsp;
          a(href='tel://+46704994915') 070-499 49 15



    script(src='//ajax.googleapis.com/ajax/libs/jquery/#{pkgs.jquery}/jquery.min.js')
    script(src='//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places')
    script.
      window.jQuery || document.write('<script src="vendor/#{pkgs.jquery}/jquery.min.js"><\/script>')
    script(src='js/bundle.js')

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{googleAnalyticsID}','auto');ga('send','pageview');
