extends ../layouts/default

block title
  title Arbetsprov på HM för Jonas Fors Lellky - Claremont AB

block header
  header(role='banner')
    h1(class='text-center').
      Dude!

block body

  img(src='img/powered-by-google-on-white.png', alt='Google logo')

  div
    label(for='searchTextField').
      Sök svenska städer
    input(
      type='text'
      id='searchTextField'
      placeholder='Sök svenska städer'
      class='form-control'
      name='query'
    )

  section#result
    h2.h6.byebye Inget resultat ännu...
